@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: 'Android';
    src: url(../assets/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor0: #c5ebd5;
    --cor1: #b3e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fontPadrao: Arial, Helvetica, sans-serif;
    --fontDestaque: 'Bebas Neue', cursive;
    --fontAndroid: 'Android', cursive;
}
body{
    background: var(--cor0);
    font-family: var(--fontPadrao);
}
.externo::after{
    content: '\1f517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 150px;
    text-align: center;
    padding-top: 20px;
    color: white;
}
header h1{
    font-family: var(--fontDestaque);
    margin-bottom: 20px;
    font-size: 2.8em;
    text-shadow: 1px 1px 1px #000;
    font-weight: normal;
}
header p{
    font-family: var(--fontPadrao);
    font-size: 0.8em;
}
header span{
    color: white;
    position: relative;
    top: -4px;
    font-size: 33px;
}
nav{
    background: var(--cor5);
    padding: 10px 30px;
    box-shadow: 0 7px 7px #000000a2;
}
nav a{
    color: #d8d8d8;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: .7s;
}
nav a:hover{
    background: var(--cor4);
    text-shadow: 0 0 2px #dadada;
    border-radius: 5px;
}
main{
    background: white;
    min-width: 300px;
    max-width: 1000px;
    margin: 1px auto;
    padding: 1px 20px;
    box-shadow: 0 0 10px #000000b9;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main h1{
    margin-top: 0;
    color: var(--cor5);
    font-family: var(--fontAndroid);
    font-size: 1.6em;
    text-align: center;
    font-weight: normal;
}
main h2{
    font-weight: normal;
    font-family: var(--fontAndroid);
    text-align: justify;
    color: #000;
    font-size: 1.3em;
    padding: 4px 4px;
    background-image: linear-gradient(to right, var(--cor1) 60%, transparent);
    overflow: hidden;
    white-space: nowrap;
    animation: escondendo 6s infinite;
}
@keyframes escondendo{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
main p{
    text-align: justify;
    margin: 15px 0;
    text-indent: 10px;
    line-height: 1.7em;
    font-size: 1em;
}
main strong{
    color: var(--cor5);
    font-weight: bold;
}
main a{
    text-decoration: none;
    color: #021400;
    font-weight: bold;
    background: var(--cor1);
    padding: 3px 5px;
    border-radius: 5px;
    transition: .3s;
}
main a:hover{
    color: var(--cor4);
    text-decoration: underline 1px var(--cor4);
}
main img{
    min-width: 50%;
    min-height: 50%;
    display: block;
    margin: 20px auto;
}
main #irina{
    box-shadow: 0 0 10px #000000b2;
}
main section{
    margin: 10px 0 15px 0;
}
main #video{
    background: var(--cor5);
    margin: 70px -18px;
    padding: 15px;
    padding-bottom: 57.5%;
    position: relative;
}
main #video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 3px 3px 8px #0000008a;
    border: 5px double var(--cor5);
    transition: .5s;
}
aside:hover{
    transform: scale(1.03);
}
aside h3{
    background: var(--cor5);
    color: white;
    padding: 5px;
    margin: -10px -10px 0 -10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
}
aside ul{
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
    text-wrap: nowrap;
}
footer{
    background: var(--cor5);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: .9em;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline 1px var(--cor1);
    color: var(--cor1);
}